.container {
  text-align: center;
}
body {
  font-family: 'Fascinate Inline', cursive;
  background-color: green;
  
}

#toppings {
  align-content: center;
  
}
.btn {
  margin: 5px;
  btn-color: olive;
}

.jumbotron {
  background-color: red;
  color: white;
  text-align: center;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

.form-control {
  margin: 10px;
  width: 200px;
  transform: translate(220%, 0)
}



